html,
body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: sans-serif;
  font-size: 16px;
}
.container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows:
    [baris1-mulai] 50px
    [baris1-akhir baris2-mulai] 100px [baris2-akhir];
  grid-template-areas:
    'header header header'
    'footer footer footer';
  gap: 5px;
}
.item {
  width: 100%;
  display: flex;
  background-color: rgb(59, 116, 223);
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.item:nth-child(even) {
  background-color: rgb(243, 51, 51);
}
.header {
  grid-area: header;
  background-color: lightblue;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(255, 255, 100);
}
.content {
  grid-area: content;
  display: flex;
  background-color: greenyellow;
  justify-content: center;
  text-align: center;
}
.footer {
  grid-area: footer;
  background-color: rgb(124, 114, 114);
}
/* responsive */
/* @media screen and (min-width: 576px) {
  .container {
    grid-template-areas:
      'header header header'
      'sidebar content content'
      'sidebar content content'
      'footer footer footer';
  }
} */
