* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd;
}
.container {
  border: 5px solid red;
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 130px 130px 130px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  /* justify-items: center;
  align-items: end; */
  place-items: center center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid black;
  width: 150px;
  background-color: lightblue;
}

.item.i1,
.item.i4,
.item.i7 {
  height: 100px;
}
.item.i2,
.item.i5,
.item.i8 {
  height: 50px;
}
.item.i3,
.item.i6,
.item.i9 {
  height: 80px;
}
