body,
html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.container {
  width: 800px;
  background-color: rgb(110, 104, 104);
  margin: 50px auto;
  border: 5px solid #333;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'header header'
    'aside main'
    'nav main'
    'footer footer';
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1.3fr 1fr;
}
header {
  grid-area: header;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  padding: 60px 0;
  grid-area: aside;
  background-color: #2f93ff;
}
nav {
  padding: 60px 0;
  grid-area: nav;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  background-color: yellow;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: rgb(104, 100, 100);
}
